In [1]:
import sys
sys.path.append('/Users/vargthon/Documents/programacao/machine-learn/ml/src')

In [2]:
from lib.collector import Collector
from lib.linearmodel import LinearModel
from lib.productlearning import LinearProduct

In [3]:
collector = Collector()

In [4]:
collector.colector_mes('0100102001','010101')

  KEY:PRODUTO:CODIGO  CALENDAR:DATE METRIC:QTD
0         0100102001     1577847600       3930
1         0100102001     1580526000       2659
2         0100102001     1583031600       2700
3         0100102001     1585710000       2829
4         0100102001     1588302000       4743
5         0100102001     1590980400       4989