In [27]:
import sys
sys.path.append('/Users/vargthon/Documents/programacao/machine-learn/ml/src')

In [28]:
from lib.collector import Collector
from lib.linearmodel import LinearModel
from lib.productlearning import ProductLearning
from lib.normalizer import Normalizer
from datetime import datetime
from lib.productsaleslearned import ProductSalesLearned

In [29]:
collector = Collector()

In [30]:
df = collector.colector_mes('0100102001','010101')
normalize = Normalizer()
df = normalize.normalizar(df)

In [31]:
df

,KEY:PRODUTO:CODIGO,CALENDAR:DATE,METRIC:QTD,EVENT:COVID-19,EVENT:AUXÍLIO GOVERNO,CALENDAR:MONTH:1,CALENDAR:MONTH:2,CALENDAR:MONTH:3,CALENDAR:MONTH:4,CALENDAR:MONTH:5,CALENDAR:MONTH:6,CALENDAR:MONTH:9,CALENDAR:MONTH:10,CALENDAR:MONTH:11,CALENDAR:MONTH:12,PARAMS:SEQ
0,0100102001,1567306800,3694,0.00,0.0,0,0,0,0,0,0,1,0,0,0,1
1,0100102001,1569898800,4056,0.00,0.0,0,0,0,0,0,0,0,1,0,0,2
2,0100102001,1572577200,3631,0.00,0.0,0,0,0,0,0,0,0,0,1,0,3
3,0100102001,1575169200,4621,0.00,0.0,0,0,0,0,0,0,0,0,0,1,4
4,0100102001,1577847600,3930,0.00,0.0,1,0,0,0,0,0,0,0,0,0,5
5,0100102001,1580526000,2659,0.00,0.0,0,1,0,0,0,0,0,0,0,0,6
6,0100102001,1583031600,2700,0.37,0.0,0,0,1,0,0,0,0,0,0,0,7
7,0100102001,1585710000,2829,1.00,1.0,0,0,0,1,0,0,0,0,0,0,8
8,0100102001,1588302000,4743,1.00,1.0,0,0,0,0,1,0,0,0,0,0,9
9,0100102001,1590980400,4989,1.00,1.0,0,0,0,0,0,1,0,0,0,0,10

In [32]:
datetime.fromtimestamp(1585710000)

datetime.datetime(2020, 4, 1, 0, 0)

31

In [33]:
from lib.repository.linearmodelrepository import LinearModelRepository

In [34]:
linear_repo = LinearModelRepository()

In [35]:
model = linear_repo.load_valid(product_id='0100102000', company_id='010101')

In [36]:
#model.predict_model(params=[{"param": "EVENT:COVID-19", "value":1},{"param": "EVENT:AUXÍLIO GOVERNO", "value":1},{"param": "PARAMS:SEQ", "value":11}])

In [37]:
model.params

[]

In [38]:
#linear_repo.finish_model(model)

1595861032.84695

In [39]:
product_sales = ProductSalesLearned()

In [40]:
product_sales.load_model('0100102000','010101')

13

In [42]:
product_sales.load_model('0100102005','010101')

13

False

True