In [49]:
import sys
sys.path.append('/Users/vargthon/Documents/programacao/machine-learn/ml/src')

In [50]:
from lib.collector import Collector
from lib.linearmodel import LinearModel
from lib.productlearning import ProductLearning
from lib.normalizer import Normalizer
from datetime import datetime

In [51]:
collector = Collector()

In [52]:
df = collector.colector_mes('0100102000','010101')
normalize = Normalizer()
df = normalize.normalizar(df)

In [53]:
df

,KEY:PRODUTO:CODIGO,CALENDAR:DATE,METRIC:QTD,EVENT:COVID-19,CALENDAR:MONTH:1,CALENDAR:MONTH:2,CALENDAR:MONTH:3,CALENDAR:MONTH:4,CALENDAR:MONTH:5,CALENDAR:MONTH:6,CALENDAR:MONTH:9,CALENDAR:MONTH:10,CALENDAR:MONTH:11,CALENDAR:MONTH:12,PARAMS:SEQ
0,0100102000,1567306800,3066,0.00,0,0,0,0,0,0,1,0,0,0,1
1,0100102000,1569898800,2937,0.00,0,0,0,0,0,0,0,1,0,0,2
2,0100102000,1572577200,3144,0.00,0,0,0,0,0,0,0,0,1,0,3
3,0100102000,1575169200,3906,0.00,0,0,0,0,0,0,0,0,0,1,4
4,0100102000,1577847600,3678,0.00,1,0,0,0,0,0,0,0,0,0,5
5,0100102000,1580526000,2566,0.00,0,1,0,0,0,0,0,0,0,0,6
6,0100102000,1583031600,2168,0.37,0,0,1,0,0,0,0,0,0,0,7
7,0100102000,1585710000,2189,1.00,0,0,0,1,0,0,0,0,0,0,8
8,0100102000,1588302000,4977,1.00,0,0,0,0,1,0,0,0,0,0,9
9,0100102000,1590980400,4755,1.00,0,0,0,0,0,1,0,0,0,0,10

In [54]:
linearproduct = ProductLearning()

In [55]:
linearproduct.fit_linear_monthly_product('0100102000','010101')

In [56]:
str(linearproduct.model.params).replace('[','{').replace(']','}').replace('\'','\"')

'{"EVENT:COVID-19", "CALENDAR:MONTH:1", "CALENDAR:MONTH:2", "CALENDAR:MONTH:3", "CALENDAR:MONTH:4", "CALENDAR:MONTH:5", "CALENDAR:MONTH:6", "CALENDAR:MONTH:9", "CALENDAR:MONTH:10", "CALENDAR:MONTH:11", "CALENDAR:MONTH:12", "PARAMS:SEQ"}'

In [57]:
linearproduct.model.model.coef_

array([  166.08297769,   439.40560828,  -760.66568132, -1308.18767267,
       -1479.89123821,  1220.03747219,   909.96618259,   179.69076668,
         -37.38052292,    81.54818748,   755.47689788,    88.0712896 ])

In [58]:
linearproduct.model.predict_model(params=[{"param": "EVENT:COVID-19", "value":1},{"param": "PARAMS:SEQ", "value":12}])

4021.1763966121134

In [59]:
import calendar

In [60]:
calendar.monthrange(2020,7)[1]

31

In [61]:
from lib.repository.linearmodelrepository import LinearModelRepository

In [62]:
linear_repo = LinearModelRepository()

In [63]:
linear_repo.load_by_id(7)

In [64]:
linearproduct.model.encoded

'gANjc2tsZWFybi5saW5lYXJfbW9kZWwuYmFzZQpMaW5lYXJSZWdyZXNzaW9uCnEAKYFxAX1xAihY\nDQAAAGZpdF9pbnRlcmNlcHRxA4hYCQAAAG5vcm1hbGl6ZXEEiVgGAAAAY29weV9YcQWIWAYAAABu\nX2pvYnNxBk5YBQAAAGNvZWZfcQdjbnVtcHkuY29yZS5tdWx0aWFycmF5Cl9yZWNvbnN0cnVjdApx\nCGNudW1weQpuZGFycmF5CnEJSwCFcQpDAWJxC4dxDFJxDShLAUsMhXEOY251bXB5CmR0eXBlCnEP\nWAIAAABmOHEQSwBLAYdxEVJxEihLA1gBAAAAPHETTk5OSv////9K/////0sAdHEUYolDYOgK0sCn\nwmRAN8obX312e0D3X7pQU8WHwFdbQy3AcJTAcLa/oJAfl8AHJxxfJhCTQPYI8L26b4xA8eW7whp2\nZkB2uZT5tLBCwIl684AVY1RAPirWr9Cbh0C6KEICkARWQHEVdHEWYlgJAAAAX3Jlc2lkdWVzcRdo\nCGgJSwCFcRhoC4dxGVJxGihLAUsAhXEbaBKJQwBxHHRxHWJYBQAAAHJhbmtfcR5LCVgJAAAAc2lu\nZ3VsYXJfcR9oCGgJSwCFcSBoC4dxIVJxIihLAUsKhXEjaBKJQ1CkLqZHJXAiQJQZytVFqvM/AwAA\nAAAA8D8BAAAAAADwPwEAAAAAAPA/AAAAAAAA8D8AAAAAAADwPwAAAAAAAPA/AAAAAAAA8D8kXnli\n7CrFPHEkdHElYlgKAAAAaW50ZXJjZXB0X3EmY251bXB5LmNvcmUubXVsdGlhcnJheQpzY2FsYXIK\ncSdoEkMIWjDC03ncpUBxKIZxKVJxKlgQAAAAX3NrbGVhcm5fdmVyc2lvbnErWAYAAAAwLjIxLjNx\nLHViLg==\n'