In [1]:
import sys
sys.path.append('/Users/vargthon/Documents/programacao/machine-learn/ml/src')

In [2]:
from lib.collector import Collector
from lib.linearmodel import LinearModel
from lib.productlearning import ProductLearning
from lib.normalizer import Normalizer
from datetime import datetime

In [3]:
collector = Collector()

In [4]:
df = collector.colector_mes('0100102000','010101')
normalize = Normalizer()
df = normalize.normalizar(df)

In [5]:
df

,KEY:PRODUTO:CODIGO,CALENDAR:DATE,METRIC:QTD,EVENT:COVID-19,CALENDAR:MONTH:1,CALENDAR:MONTH:2,CALENDAR:MONTH:3,CALENDAR:MONTH:4,CALENDAR:MONTH:5,CALENDAR:MONTH:6,CALENDAR:MONTH:9,CALENDAR:MONTH:10,CALENDAR:MONTH:11,CALENDAR:MONTH:12,PARAMS:SEQ
0,0100102000,1567306800,3066,0.00,0,0,0,0,0,0,1,0,0,0,1
1,0100102000,1569898800,2937,0.00,0,0,0,0,0,0,0,1,0,0,2
2,0100102000,1572577200,3144,0.00,0,0,0,0,0,0,0,0,1,0,3
3,0100102000,1575169200,3683,0.00,0,0,0,0,0,0,0,0,0,1,4
4,0100102000,1577847600,3678,0.00,1,0,0,0,0,0,0,0,0,0,5
5,0100102000,1580526000,2566,0.00,0,1,0,0,0,0,0,0,0,0,6
6,0100102000,1583031600,2168,0.37,0,0,1,0,0,0,0,0,0,0,7
7,0100102000,1585710000,2189,1.00,0,0,0,1,0,0,0,0,0,0,8
8,0100102000,1588302000,4977,1.00,0,0,0,0,1,0,0,0,0,0,9
9,0100102000,1590980400,4755,1.00,0,0,0,0,0,1,0,0,0,0,10
10,0100102000,1606791600,223,0.00,0,0,0,0,0,0,0,0,0,1,11

In [6]:
linearproduct = ProductLearning()

In [7]:
linearproduct.fit_linear_monthly_product('0100102000','010101')

In [8]:
linearproduct.model.params

['EVENT:COVID-19',
 'CALENDAR:MONTH:1',
 'CALENDAR:MONTH:2',
 'CALENDAR:MONTH:3',
 'CALENDAR:MONTH:4',
 'CALENDAR:MONTH:5',
 'CALENDAR:MONTH:6',
 'CALENDAR:MONTH:9',
 'CALENDAR:MONTH:10',
 'CALENDAR:MONTH:11',
 'CALENDAR:MONTH:12',
 'PARAMS:SEQ']

In [9]:
linearproduct.model.model.coef_

array([ 2336.24357224,   901.8712267 ,   284.15694099,  -483.96746646,
       -1440.51520268,  1841.77051161,  2114.05622589, -1687.27163044,
       -1321.98591616,  -620.70020187,   412.58551241,  -494.28571429])

In [10]:
linearproduct.model.predict_model(params=[{"param": "EVENTS:COVID-19", "value":1},{"param": "PARAMS:SEQ", "value":1}])

4753.27163044239

In [11]:
import calendar

In [12]:
calendar.monthrange(2020,7)[1]

31